<footer class="footer">
	<div class="container">
	  <div class="row">
		<div class="col-md-4">
			<p class="terms-link"><a href="#">Términos y Condiciones</a></p>
		  </div>
		<div class="col-md-4 text-center">
		  <img src="../../../assets/iREADBlanco.png" alt="Logo de la empresa" class="logo">
		  <p class="company-name">Learn Play Tech @2023</p>
		</div>
		<div class="col-md-4 text-right">
		  <div class="social-icons">
			<a href="https://www.facebook.com" target="_blank"><img src="../../../assets/facebook.png" alt="Facebook" class="social-icon"></a>
          	<a href="https://www.instagram.com" target="_blank"><img src="../../../assets/instragram.png" alt="Instagram" class="social-icon"></a>
		  </div>
		</div>
	  </div>
	</div>
  </footer>
